<link rel="stylesheet" href="/assets/home/css/collection.css">

<div class="list">
    <div class="item wow" data-wow-delay="100ms">
        <div class="content">
            <a href="details.html">
                <div class="thumb">
                    <img src="/assets/home/images/video3.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>课程名称：</span>PHP
                    </div>
                    <div class="type">
                        <span>课程分类：</span>PHP后端
                    </div>

                    <div class="teacher">
                        <span>授课老师：</span>demo老师
                    </div>
                </div>
            </a>
        </div>

        <div class="footer">
            <div class="btn-list">
                <button class="btn mui-btn-warning">取消收藏</button>
            </div>
        </div>
    </div>
    <div class="item wow" data-wow-delay="200ms">
        <div class="content">
            <a href="details.html">
                <div class="thumb">
                    <img src="/assets/home/images/video3.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>课程名称：</span>PHP
                    </div>
                    <div class="type">
                        <span>课程分类：</span>PHP后端
                    </div>

                    <div class="teacher">
                        <span>授课老师：</span>demo老师
                    </div>
                </div>
            </a>
        </div>

        <div class="footer">
            <div class="btn-list">
                <button class="btn mui-btn-warning">取消收藏</button>
            </div>
        </div>
    </div>
    <div class="item wow" data-wow-delay="300ms">
        <div class="content">
            <a href="details.html">
                <div class="thumb">
                    <img src="/assets/home/images/video3.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>课程名称：</span>PHP
                    </div>
                    <div class="type">
                        <span>课程分类：</span>PHP后端
                    </div>

                    <div class="teacher">
                        <span>授课老师：</span>demo老师
                    </div>
                </div>
            </a>
        </div>

        <div class="footer">
            <div class="btn-list">
                <button class="btn mui-btn-warning">取消收藏</button>
            </div>
        </div>
    </div>
</div>
<script>
    new WOW({
        boxClass: 'wow',      // 需要执行动画的元素的 class(默认是wow)
        animateClass: 'animated fadeInDown', // animation.css 动画的 class(默认是animated)
        offset: 0,          // 距离可视区域多少开始执行动画(默认为0)
        mobile: true,       // 是否在移动设备上执行动画(默认为true)
        live: true,       // 异步加载的内容是否有效(默认为true)
        scrollContainer: null // 可选滚动容器选择器，否则使用窗口
    }).init();
</script>