<link rel="stylesheet" href="/assets/home/css/contact.css">
<link rel="stylesheet" href="/assets/home/css/swiper-bundle.css">
<script src="/assets/home/js/swiper-bundle.min.js"></script>

<div class="mui-content wow">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="imgs">
                    <img src="/assets/home/images/video5.png">
                    <p class="mui-slider-title">Javascript从零开始</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="imgs">
                    <img src="/assets/home/images/video3.png">
                    <p class="mui-slider-title">Javascript从零开始1111</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="imgs">
                    <img src="/assets/home/images/video2.png">
                    <p class="mui-slider-title">Javascript从零开始222</p>
                </a>
            </div>
        </div>
        <div class="swiper-pagination" style="text-align: right;"></div>
    </div>
</div>

<div class="list">
    <div class="item wow" data-wow-delay="100ms">
        <span>市场销售：</span>185-1242-1111
    </div>
    <div class="item wow" data-wow-delay="200ms">
        <span>技术支持：</span>139-1234-5678
    </div>
    <div class="item wow" data-wow-delay="300ms">
        <span>产品售后：</span>178-1422-3211
    </div>
</div>

<div id="container"></div>


</html>
<script type="text/javascript"
    src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=sD9ReBqDzDA7rB5KHwlGYmzfOy1Acu5p"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });

    var map = new BMapGL.Map("container");// 创建地图实例 
    var point = new BMapGL.Point(113.25134, 23.13198);// 创建点坐标 
    map.centerAndZoom(point, 20);// 初始化地图，设置中心点坐标和地图级别

    new WOW({
        boxClass: 'wow',      // 需要执行动画的元素的 class(默认是wow)
        animateClass: 'animated fadeInDown', // animation.css 动画的 class(默认是animated)
        offset: 0,          // 距离可视区域多少开始执行动画(默认为0)
        mobile: true,       // 是否在移动设备上执行动画(默认为true)
        live: true,       // 异步加载的内容是否有效(默认为true)
        scrollContainer: null // 可选滚动容器选择器，否则使用窗口
    }).init();
</script>