<link rel="stylesheet" href="/assets/home/css/teacher_list.css" />

<!-- 搜索框 -->
<div class="mui-input-row mui-search search wow">
    <input type="search" placeholder="请输入名师名称" name="search" />
</div>

<div id="box">
    <div class="list">
        <div class="item wow" data-wow-delay="100ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="120ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="140ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="160ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="180ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="200ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="120ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="140ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="160ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="180ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="300ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item wow" data-wow-delay="320ms">
            <a href="./teacher_info.html">
                <div class="avatar">
                    <img src="/assets/home/images/avatar.jpg" alt="">
                </div>
                <div class="info">
                    <h5 class="title">demo老师</h5>
                    <p class="course">课程：7</p>
                    <p class="job">职位：高级讲师/项目经理</p>
                    <p class="content">简介：
                        擅长Java相关服务端技术，深刻理解编程思想和设计模式，精通各种常用的开发框架、数据库等技术。
                        多年的项目经验，曾曾担任过高级软件工程师、软件系统架构师、项目经理等职位。
                    </p>
                    <div class="follow">
                        <img src="/assets/home/images/like.png" alt="">
                        <span>500</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{include file='common/footer'}

<script>
    new WOW({
        boxClass: 'wow',      // 需要执行动画的元素的 class(默认是wow)
        animateClass: 'animated fadeInDown', // animation.css 动画的 class(默认是animated)
        offset: 0,          // 距离可视区域多少开始执行动画(默认为0)
        mobile: true,       // 是否在移动设备上执行动画(默认为true)
        live: true,       // 异步加载的内容是否有效(默认为true)
        scrollContainer: "#box" // 可选滚动容器选择器，否则使用窗口
    }).init();
</script>